@model chart0302.Models.stocks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>stocks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.stockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stockName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stockName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numOfSharesTrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numOfSharesTrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numOfTrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numOfTrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moneyOfDeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moneyOfDeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.openPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.openPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.highPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.highPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lowPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lowPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.upDowm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.upDowm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.upDowmPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.upDowmPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stockDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stockDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pk }) |
    @Html.ActionLink("Back to List", "Index")
</p>
