@model IEnumerable<chart0302.Models.stocks>

@{
    ViewBag.Title = ViewBag.id;
}

<h2>strategy</h2>


<form method="post">
    <input type="submit" value="確認" name="str1">
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            i = i + 1;
            <tr>
                <td>@i</td>
                <td>@Html.Encode(item.stockID)</td>
                <td>@Html.Encode(item.stockName)</td>
                <td>@Html.Encode(item.stockDate)</td>
            </tr>
        }
    </tbody>
</table>


<script>
    var model = @Html.Raw(Json.Encode(Model));
    var stockPrice = [];
    for (var i = 0; i < model.length; i++) {
        // stockPrice.push([i, model[i].endPrice])
        var date = model[i].stockDate.substring(0, 4) + "-" + model[i].stockDate.substring(4, 6) + "-" + model[i].stockDate.substring(6, 8);
        stockPrice.push([new Date(date), model[i].endPrice]);
    }

    console.log(stockPrice)
</script>